.top-container{
    position: sticky;
    top: 0px;  
    
}
.nav-bar{
    background-color: #a9d6e5;
    height: 13vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom , #a9d6e5,#3890ad,#094f67,#002d46);
    position: sticky;
    top: 0;
}

.brand-name{
    margin-left: 1.5rem;
    font-size: 7vh;
    color: #ffffff;
    font-weight: 900;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: 1.45rem;
    font-size: 1.3rem;
    font-weight: bold;
}
a:hover{
    cursor: pointer;
}


form{
    margin-right: 10px;
    margin-left: 20px;
}
.nav-search{
    font-size: 1.5rem;
    width: 20vw;
    padding-left: 1rem;
    border-radius: 0.5rem 0 0 0.5rem ;
    margin-left: 20px;
    font-weight: 500 ;
}
.nav-search:active{
    border: none;
}
.nav-btn{
    height: 2.5rem;
    width: 5rem;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    background-color: #013a63;
    color: azure;
    border-radius: 0 0.5rem 0.5rem 0 ;
}
.account-outer{
    text-align: center;
    height: 80%;
    position: absolute;
    right: 1rem;
}
.account-inner{
    display: block;
}

.account-logo{
    display: flex;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 50%;
}
p{
    font-weight: bold;
    color: rgb(255, 255, 255);
}